.calendarHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px;
  background-color: #f0f0f0;
  min-width: 865px;
}

.button {
  border: none;
}

.daysNames,
.daysContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 5px;
}

.dayName,
.day {
  flex: 1 0 calc(14.28% - 5px);
  text-align: left;
  border: 1px solid #e0e0e0;
}

.dayPlaceholder {
  flex: 1 0 calc(14.28% - 5px);
  padding: 10px;
  border: 1px solid transparent;
}

.day {
  height: 90px;
}

.dayName {
  border: none;
  padding: 10px;
}

.courseName {
  color: black;
  padding: 3px;
  display: block;
}
